@model Auvo.Models.ViewModel.ConsultaPrevisao

@{
    ViewData["Title"] = "Clima Tempo Simples";
}

<div class="header-content">
    <div class="container mt-1">
        <div class="row d-flex">
            <div class="col-12 col-md-6">
                <h2 class="text-white">Michel Manarin</h2>
                <h6>Informações do candidato</h6>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="box-filter box-shadow">

        <h2>Michel Manarin</h2>

        <ul class="list-unstyled">
            <li>michelmanarin@gmail.com</li>
            <li>(47) 988021614</li>
            <li>https://www.linkedin.com/in/michel-manarin-14738415a/</li>
        </ul>

        <h4>
            Principais Habilidades
        </h4>
        <ul>
            <li>
                Proficiência em C#, Python, JS, Git, JQuery e banco de dados relacionais
            </li>
            <li>Familiaridade em React.js, PL/SQL, HTML/CSS, Delphi, VBA e Jira</li>
        </ul>

        <h4>
            Formação Acadêmica e Idiomas
        </h4>

        <ul>
            <li>
                <strong>SATC -</strong>Curso técnico em informática industrial com base em desenvolvimento de aplicações
            </li>
            <li>
                <strong>UNESC -</strong>Graduação em Ciência da Computação interrompida no 5º semestre
            </li>
            <li>
                <strong>UNICESUMAR -</strong>Tecnólogo em análise e desenvolvimento de sistemas
            </li>
            <li>
                <strong>B2 English (Upper Intermediate)</strong>
            </li>
        </ul>
        
        <h4>
            Experiências Profissionais
        </h4>
        
        <ul>
            <li>
                <strong>Useall Software – 1 ano e 9 meses</strong>
                <ul>
                    <li>
                        Manutenção e implementação em software de segmento elétrico nas
                        linguagens PowerBuilder e PL/SQL
                    </li>
                </ul>
                
            </li>
            <li>
                <strong>Benner Sistemas – 2 anos e 5 meses</strong>
                <ul>
                    <li>
                        Manutenção e implementação no ERP Corporativo em C#, Delphi e javascript
                    </li>
                    <li>
                        Manutenção e implementação de webservices SOAP em C#
                    </li>
                    <li>
                        Manutenção e implementação de relatórios e rotinas customizadas em VBA
                    </li>
                    <li>
                        Participação em projetos para clientes como o grupo FIESC, Marista, Rede Ancora, Havan e outros
                    </li>
                </ul>
            </li>

            <li>
                <strong>Senior Sistemas – 1 ano e 5 meses</strong>
                <ul>
                    <li>
                        Implementações de novas exigências legais no time de controladoria do ERP
                        Senior G5 em Delphi 5
                    </li>
                </ul>
            </li>
            <li>
                <strong>Linx Sistemas – 1 ano e 9 meses</strong>

                <ul>
                    <li>
                        Análise e desenvolvimento de correções e pequenas implementações na
                        equipe de sustentação do PDV Seller para o segmento de postos de
                        combustíveis nas linguagens Python, Javascript, React e PostgreSQL
                    </li>
                </ul>
                
            </li>
            <li>
                <strong>SellersFunding – 1 ano</strong>
                <ul>
                    <li>
                        Atuação como Full Stack entregando novas features e executando roadmap na
                        equipe do Signals nas linguagens C#, Python, Javascript e JQuery
                    </li>
                    <li>
                        Atuando como Backend entregando novas features e correções no projeto de
                        bank account, focando principalmente no micro serviço do projeto
                    </li>
                </ul>

            </li>
        </ul>


    </div>
</div>